
BUCKET_NAME= example-capsule-storage
FILEBASE_KEY=your-filebase-key # your filebase key , replace with your own key
FILEBASE_SECRET=your-filebase-secret # your filebase secret , replace with your own secret

DJANGO_SECRET_KEY="django-insecure-django-secret-key" # replace with your own django secret key

# wallet and onchain configuration

CHAIN_ID=11155111 # your blockchain chain id, replace with your own chain id

CONTRACT_ADDRESS=0xYourContractAddressHere # replace with your own contract address

PRIVATE_KEY=.....private-key-from-wallet # replace with your own private key

RPC_URL=https://eth-sepolia.g.alchemy.com/v2/mpNtSz-hCEP4IQiPnQLby4kTCVr6S3lm # replace with your own RPC URL mine from alchemy

WALLET_ADDRESS=0x-your-wallet-address-here # replace with your own wallet address

#------------------------------------------------------------

# Email Backend
EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend #django email backend configuration

# Gmail SMTP Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True

# Gmail Credentials (App Password)

EMAIL_HOST_USER=example123@gmail.com

EMAIL_HOST_PASSWORD="your-gmail-app-password-here"  # replace with your own mail password 

# Default sender email
DEFAULT_FROM_EMAIL=example123@gmail.com

# Legacy variable support 
GMAIL_PASSWORD="your-gmail-app-password-here" # replace with your own mail password

DEBUG=True

ALLOWED_HOSTS= '*'   # your allowed hosts, replace with your own allowed hosts 

#-------------------  not neccesary if not using auth 0 ------------------------------

GOOGLE_CLIENT_ID = "your-google-client-id.apps.googleusercontent.com"  #for Google OAuth2 authentication, replace with your own client id

GOOGLE_CLIENT_SECRET = "your-google-client-secret"  # for Google OAuth2 authentication, replace with your own client secret

SESSION_SECRET_KEY="your-session-secret-key"    # replace with your own session secret key

#-------------------------------------------------------------------------------------

DB_URL='your-database-url' # replace with your own database url

REDIS_URL  = "your-redis-url" # replace with your own redis url
