###############################################
# Django + Core Dependencies
###############################################
Django
python-dotenv

###############################################
# Authentication / OAuth / JWT
###############################################
django-allauth

requests

###############################################
# Deployment Servers
###############################################
waitress  #windows
gunicorn
whitenoise  # windows

###############################################
# Celery + Redis
###############################################

celery
redis

###############################################
# Database Drivers 
###############################################

dj-database-url
 
psycopg2 # driver for postgres

###############################################
# Blockchain / Web3
###############################################

web3
eth-account
eth-hash
hexbytes

###############################################
# AWS S3 / Filebase / Boto3
###############################################
boto3
botocore
s3transfer

###############################################
# Cryptography & Hashing
###############################################
cryptography
pycryptodome

###############################################
# File Type Detection / Media / Parsing
###############################################
filetype
python-magic
mutagen

###############################################
# Utilities / Helpers
###############################################
python-dateutil
pytz

###############################################
# Web Requests + Parsing
###############################################
urllib3
idna
charset-normalizer

###############################################
# Optional Performance
###############################################

setuptools
wheel


